html, body {
  margin: 0;
  padding: 0;
  background-image: url("../images/BODY.png");
  background-size: cover; }

.fondo {
  background-size: auto !important; }

#bluebar {
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2342de; }

.blueheaderwrapper {
  background: url("../images/HEADER.png"); }

.blueheader {
  padding-top: 30px;
  padding-bottom: 30px; }
  .blueheader img {
    width: 100%;
    max-height: 232px;
    max-width: 809px;
    margin: 0 auto;
    display: block; }

.deepbluewrapper {
  margin: 0 auto;
  padding: 55px 75px 20px;
  min-height: 400px;
  background: url("../images/bg-ventana.png") center top;
  background-size: 100% 100%; }
  .deepbluewrapper #descargapdf {
    margin-top: 20px; }
  .deepbluewrapper .deepbluecontent {
    padding-top: 15px;
    height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff; }
    .deepbluewrapper .deepbluecontent .table td {
      border-top: none; }

.bluemenuwrapper {
  border-width: 2px;
  border-color: #cee6f2;
  border-top-style: solid;
  border-bottom-style: solid;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #197cba), color-stop(0.66, #1463a9));
  background-image: -o-linear-gradient(bottom, #197cba 0%, #1463a9 66%);
  background-image: -moz-linear-gradient(bottom, #197cba 0%, #1463a9 66%);
  background-image: -webkit-linear-gradient(bottom, #197cba 0%, #1463a9 66%);
  background-image: -ms-linear-gradient(bottom, #197cba 0%, #1463a9 66%);
  background-image: linear-gradient(to bottom, #197cba 0%, #1463a9 66%); }

.bluespacewrapper {
  padding: 5% 0; }

.bluecontent {
  margin: 0 auto;
  padding: 40px;
  color: #cee6f2;
  background: url("../images/bg-registrar.png") center top;
  background-size: 100% 100%;
  min-height: 400px; }
  .bluecontent .logout {
    color: #cee6f2;
    font-size: 0.8em; }
  .bluecontent .stats-panel {
    background: #1A45AF;
    background-size: 100% 100%;
    border: 2px solid #fff;
    padding: 10px;
    text-align: center; }
    .bluecontent .stats-panel .stat * {
      display: inline-block; }
    .bluecontent .stats-panel .stat .stat-title, .bluecontent .stats-panel .stat .pts {
      font-weight: bold;
      color: #fff; }
  .bluecontent .add_model_button, .bluecontent .remove_field {
    background: white;
    display: block;
    width: 140%;
    height: 25px;
    padding: 0px 5px;
    margin: 0 -24px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center; }
    .bluecontent .add_model_button .plus-button, .bluecontent .remove_field .plus-button {
      font-size: 10px; }
  .bluecontent .white-bar {
    background: #fff;
    color: #00509B;
    padding: 5px 10px;
    margin: 20px 0 10px 0;
    text-transform: uppercase; }
    .bluecontent .white-bar h4 {
      margin: 0; }
  .bluecontent .linea-divisora {
    padding: 20px 0; }
    .bluecontent .linea-divisora img {
      width: 100%;
      height: 4px; }
  .bluecontent .home-action .icon {
    display: inline-block;
    width: 55px;
    vertical-align: middle; }
    .bluecontent .home-action .icon img {
      height: auto;
      max-width: 55px;
      max-height: 55px;
      margin: 0 auto;
      display: block; }
  .bluecontent .home-action .bar {
    text-transform: uppercase;
    display: inline-block;
    background: url("../images/icons-home/barra-shadow.png") no-repeat;
    padding-left: 20px;
    padding-left: 20px;
    width: 255px;
    height: 41px;
    margin-left: 20px; }
    .bluecontent .home-action .bar p {
      margin: 0;
      line-height: 27px; }
    .bluecontent .home-action .bar.tu-cuenta a {
      color: #6734D4 !important; }
    .bluecontent .home-action .bar.tu-codigo a {
      color: #E46240 !important; }
    .bluecontent .home-action .bar.tu-punto a {
      color: #DB415B !important; }
    .bluecontent .home-action .bar.tu-premio a {
      color: #2379D2 !important; }
  .bluecontent .terms {
    font-size: 0.9em; }
  .bluecontent input[type='checkbox'] {
    margin-left: 5px; }
  .bluecontent label {
    color: #fff;
    font-weight: 400; }
  .bluecontent .line {
    width: 0px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    clear: both;
    margin: 0 auto; }
  .bluecontent .hr {
    height: 2px; }

.bottom {
  margin-bottom: 75px; }

hr {
  border: 0;
  display: block;
  height: 4px;
  background: url("../images/line.png") repeat-x top left;
  opacity: 0.4; }

ul {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.nav ul {
  display: table;
  width: 100%;
  /* Tables are not 100% width like block elements */
  /* Everything you already had except float: left; which I don't really get why you have to begin with */ }
.nav ul li {
  text-align: center;
  display: table-cell;
  font-weight: lighter;
  letter-spacing: 1px;
  /* Everything you already had except float: left; */
  border-right: 1px solid white; }
  .nav ul li:last-child {
    border-right: none; }
.nav ul li a {
  /* Just remove the float here as well */
  color: #fff !important; }

.bluefootermenu {
  max-height: 94px;
  text-align: center;
  margin-bottom: 50px;
  padding: 18px;
  line-height: 57px;
  background: url("../images/pattern-footer.jpg");
  border-top: 2px solid #cadfe9;
  border-bottom: 2px solid #CADFE9; }
  .bluefootermenu .nav ul li a {
    display: inline-block;
    width: 100%;
    font-size: 12px; }

.form-control {
  border-radius: 0;
  height: 25px;
  padding: 0 5px; }

.btn {
  color: #234A9D;
  background: #fff;
  border-radius: 0;
  padding: 5px; }
  .btn:hover {
    color: #234A9D;
    background: #fff; }

.mfp-bg {
  background: transparent; }

.white-popup {
  position: relative;
  color: #fff;
  padding: 5px 30px;
  padding-bottom: 10px;
  min-height: 150px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border: 2px solid white;
  background: #2E4DF7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0889cf), color-stop(1, #0a3281));
  background-image: -o-linear-gradient(bottom, #0889cf 0%, #0a3281 100%);
  background-image: -moz-linear-gradient(bottom, #0889cf 0%, #0a3281 100%);
  background-image: -webkit-linear-gradient(bottom, #0889cf 0%, #0a3281 100%);
  background-image: -ms-linear-gradient(bottom, #0889cf 0%, #0a3281 100%);
  background-image: linear-gradient(to bottom, #0889cf 0%, #0a3281 100%); }
  .white-popup ul li {
    list-style: none;
    text-align: center; }
  .white-popup h3 {
    margin: 0;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  border: 1px solid #fff;
  opacity: 1; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  /* z-index: 1046; */
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5A1698; }

.mfp-close {
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: -10px;
  top: -10px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:active {
  top: -10px; }

#pais {
  width: 100%; }

.active {
  font-weight: bold !important; }

.whitecontent {
  margin: 0 auto;
  padding: 10px 42px 100px 42px;
  color: #034ea1;
  font-size: 16px;
  min-height: 120px;
  height: auto;
  background-color: #fff; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #234A9D;
  border-color: #234A9D; }

.pagination > li > a, .pagination > li > span {
  color: #234A9D;
  padding: 1px 8px; }

/**
|
| Responsive
|
**/
@media (max-width: 768px) {
  .bar {
    margin-left: -36px !important;
    margin-top: 20px !important; } }
@media (max-width: 740px) {
  .premiosTop {
    padding: 20px; } }
@media (max-width: 1024px) {
  .btnmovil3 {
    margin-left: 10px;
    margin-top: 10px !important;
    width: auto !important; } }
@media (min-width: 1025px) {
  .btnmovil3 {
    width: auto !important; } }
@media (max-width: 991px) {
  .blueheaderwrapper {
    background: transparent; }

  .login-box {
    background: #086bc2 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #086bc2 0%, #043685 100%) !important;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #086bc2), color-stop(100%, #043685)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #086bc2 0%, #043685 100%) !important;
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #086bc2 0%, #043685 100%) !important;
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #086bc2 0%, #043685 100%) !important;
    /* IE10+ */
    background: linear-gradient(to bottom, #086bc2 0%, #043685 100%) !important;
    /* W3C */
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75) !important;
    box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75) !important; }

  .bluecontent {
    background: #086bc2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #086bc2 0%, #043685 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #086bc2), color-stop(100%, #043685));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #086bc2 0%, #043685 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #086bc2 0%, #043685 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #086bc2 0%, #043685 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #086bc2 0%, #043685 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#086bc2', endColorstr='#043685',GradientType=0 );
    /* IE6-9 */
    text-align: center;
    margin-top: -3%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 10px -3px rgba(50, 50, 50, 0.75); }
    .bluecontent label {
      float: center !important; }

  .bluemenuwrapper {
    background: transparent;
    border: none;
    width: 45%; }
    .bluemenuwrapper .nav {
      border-bottom: 0; }
      .bluemenuwrapper .nav .active {
        font-weight: 0; }
      .bluemenuwrapper .nav ul {
        padding-top: 30px;
        display: none;
        height: auto;
        width: 158px;
        height: 250px;
        z-index: 100;
        position: absolute;
        left: 20px;
        top: 20px;
        padding-left: 0;
        background: url("../images/mobile-menu-bga.png"); }
        .bluemenuwrapper .nav ul li {
          border: none;
          display: inline-block;
          width: 100% !important;
          font-size: 0.9em;
          margin-left: 0px;
          color: #fff;
          line-height: 24px;
          text-align: left;
          padding-left: 7px; }
      .bluemenuwrapper .nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative; }
        .bluemenuwrapper .nav a#pull:after {
          background: url("../images/mobile-menu-button.png") no-repeat;
          width: 192px;
          height: 61px;
          display: block;
          position: absolute;
          left: -22px;
          top: 0px;
          z-index: 150;
          content: attr(data-before);
          color: #fff;
          padding-top: 20px;
          padding-left: 20px; }

  .premiosCenter {
    margin-left: 0 !important; }

  /*alexa code*/
  .bluespacewrapper {
    padding-bottom: 0; }

  .bluefootermenu {
    background: transparent;
    border: none;
    min-height: 200px;
    width: 70%;
    background: rgba(4, 54, 133, 0.4);
    margin-left: 16%; }

  .bluefootermenu img {
    opacity: 1;
    padding-bottom: 10%; }

  .add_model_button, .remove_field {
    margin: 0 0 !important; }

  .btnmovil {
    float: center !important; }

  .btnmovil2 {
    float: center !important;
    margin-top: 10px; }

  .btnmovil3 {
    margin-left: 10px;
    margin-top: 10px !important;
    float: none !important;
    width: auto !important; }

  .bottom {
    margin-bottom: 0 !important; }

  /*end alexa code*/ }
.premiosCenter {
  margin-left: 30px; }

.login-box {
  max-width: 567px;
  background: url("../images/bg-ingresar.png") center top;
  background-size: 100% 100%;
  margin: 0 auto;
  padding: 32px; }
  .login-box label {
    color: #fff;
    font-weight: 400; }

.premiosForm {
  color: #034EA1;
  border-radius: 0px;
  margin-left: 10px; }

.premiosTitle {
  color: #034EA1;
  width: 100%;
  background-color: #FFFFFF;
  padding: 3px 10px; }

.premiosContent {
  margin: 30px -2px; }

.premiosFlechaRight {
  float: right; }

/* ALEXA CODE SLIDER */
.list_carousel {
  margin: 0;
  max-width: 600px;
  position: relative; }

.list_carousel ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none; }

.list_carousel li {
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-family: "Arial";
  padding: 0;
  margin: 10px;
  height: 165px;
  max-width: 178px;
  float: left;
  display: block;
  position: relative; }

.list_carousel li img {
  width: 90%;
  padding-bottom: 5px;
  padding-top: 5px; }

.titleSlide {
  position: relative;
  right: auto;
  top: -18%; }

@media (max-width: 320px) {
  .list_carousel li img {
    width: 110% !important;
    padding-bottom: 5px;
    padding-top: 5px; }

  .titleSlide {
    position: absolute;
    right: -13%;
    top: 55%;
    font-size: 3px; } }
@media (max-width: 600px) {
  .titleSlide {
    font-size: 10px; } }
@media (max-width: 375px) {
  .titleSlide {
    font-size: 10px; } }
.list_carousel.responsive {
  width: auto;
  margin-left: 0; }

.clearfix {
  float: none;
  clear: both; }

.list_carousel .prev, .list_carousel .next {
  top: 70px;
  width: 20px;
  height: 40px;
  display: block;
  position: absolute;
  margin-left: 10px;
  text-indent: -999em;
  background: transparent url("../images/control.png") no-repeat 0 0; }

.list_carousel .prev {
  text-decoration: none;
  background-position: 0 0;
  left: -20px; }

.list_carousel .next {
  right: -20px;
  text-decoration: none;
  background-position: -18px 0; }

/* PREMIOS */
.list_carousel .prev2, .list_carousel .next2 {
  top: 75px;
  width: 20px;
  height: 40px;
  display: block;
  position: absolute;
  margin-left: 10px;
  text-indent: -999em;
  background: transparent url("../images/control.png") no-repeat 0 0; }

.list_carousel .prev2 {
  text-decoration: none;
  background-position: 0 0;
  left: -20px; }

.list_carousel .next2 {
  right: -20px;
  text-decoration: none;
  background-position: -18px 0; }

.scroll-box {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 10px; }

.scroll-box2 {
  max-height: 250px;
  padding: 10px;
  margin-bottom: 15px;
  overflow: auto;
  overflow-x: hidden; }

.btnpad {
  margin-top: 20px; }

.reglamentos {
  max-width: 50% !important;
  float: left; }

.premios {
  width: 15%; }

#premios3 {
  margin-top: 50px; }

a.cambiar-datos, a.cambiar-datos:hover {
  color: #fff; }

.nav-tabs {
  border-bottom: none !important;
  border-radius: 0 !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #1463A9;
  border-radius: 0 !important; }

.nav-tabs > li > a {
  color: #fff;
  border-radius: 0 !important; }

.nav-tabs > li > a:hover {
  color: #1463A9;
  border-radius: 0 !important; }

/*ALEXA CODE END*/
.idioma {
  color: #FFFFFF;
  padding-top: 15px;
  font-size: 1em;
  padding-left: 0;
  z-index: 1000; }

.esp {
  padding-left: 5px; }

.input-disabled {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  border-width: 0 !important;
  color: #ffffff !important; }
