body,img,div,table{
padding:0px;
margin:0px;
}

.absolute{
position:absolute;
}

.relative{
position:relative;
}

.fixed{
position:fixed;
}


.hover:hover{
    opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}


.hover{
    opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

.hand{
cursor:pointer;cursor:hand;
}

.hide{
display:none;
}

img{
 -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


input{
outline:none;  
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

